<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="stuff">
    <h1><%= question.name %> </h1>
    <ul>
        <li>Time: <%= question.time %> </li>
        <li>Category: <a href="/questions?category=<%= question.category %>"><%= question.category %></a> </li>
    </ul>
    <a href="/questions">All questions</a>
    <a href="/questions/<%=question._id%>/edit">Edit Question</a>
    <form action="/questions/<%= question._id %>?_method=DELETE", method="POST">
        <button type="submit" class="btn btn-primary">Delete Question</button>
    </form>
    </div>
</body>
</html>